<!DOCTYPE HTML>

<html>
	<head>
		<title>Datafree </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>

	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="/images/logo.png" alt="" /></span>
						<h1>Data Free</h1>
						<p>Query trends on social media networks, google search, and locate without data.<br />
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">About Datafree</a></li>
							<li><a href="#first">Services</a></li>
							<li><a href="#cta">Meet Us</a></li>
						</ul>
					</nav>

				<!-- Main -->
				<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main special">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>About Us</h2>
										</header>
										<p>Datafree.io is a push towards increased online presence and social awareness.
											Datafree.io allows users to stay connected to current events happening through
											SMS messaging even when not physically connected to the internet. Our application
											offers access to top social media websites’ popular content and even allows remote
											connection to Google Maps for directions. Never feel disconnected from popular trending
											stories on social media or lost without data for Google Maps.</p>
								</div>
							</section>

						<!-- First Section -->
							<section id="first" class="main special">
								<header class="major">
									<h2>Integrated Technologies</h2>
								</header>
								<ul class="features">
									<li>
										<span class="icon major style1 fa-twitter"></span>
										<h3>Trending Twitter</h3>
										<p>Returns the top trending topics on twitter. If not given a search number, automatically returns 5.</p>
									</li>
									<li>
										<span class="icon major style3 fa-reddit"></span>
										<h3>Trending Reddit</h3>
										<p>See top trending posts on Reddit. Links included. </p>
									</li>
									<li>
										<span class="icon major style5 fa-newspaper-o"></span>
										<h3>Trending News (topic)</h3>
										<p>Returns top trending articles based on given topic.</p>
									</li>
									<li>
										<span class="icon major style2 fa-youtube"></span>
										<h3>Trending Youtube</h3>
										<p>Top Trending in the United States videos are returned with title and links.</p>
									</li>
									<li>
										<span class="icon major style4 fa-sun-o"></span>
										<h3>What is the weather in (location)</h3>
										<p>Returns current, minimum and maximum temperature in degrees celcius based on given location.</p>
									</li>
									<li>
										<span class="icon major style1 fa-google"></span>
										<h3>Google (search)</h3>
										<p>Returns top titles and links on the Google saerch page based on search topic.</p>
									</li>
									<li>
										<span class="icon major style5 fa-map-signs"></span>
										<h3>Gas closest to (address)</h3>
										<p>Based on the given location, locations of nearest gas stations are returned and the distance.</p>
									</li>

									<li>
										<span class="icon major style3 fa-car"></span>
										<h3>Directions from (StartAddress) to (Destination)</h3>
										<p>Given a starting address and final destination, directions are listed in order.</p>
									</li>

								</ul>
							</section>
						<!-- Get Started -->
							<section id="cta" class="main special">
								<header class="major">
									<h2>Get To Know The Team</h2>
									<h3>Jason Chuang</h3>
									<p>chuangj6@uci.edu</p>
									<br>
									<h3>Joanna Ko</h3>
									<p>kojt@uci.edu</p>
									<br>
									<h3>Nisarg Shah</h3>
									<p>nisargms@uci.edu</p>
									<br>
									<h3>Amy Yee</h3>
									<p>ayee5@uci.edu</p>




								</header>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<!-- </section> -->
						<p class="copyright">&copy; Datafree.io</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

			<!-- Try it out for yourself form -->
			<script>
			// CHANGE TO LOCATION OF JS FILE
			const demoText = require("./app.js");

			function sendText() {
				var number = document.getElementById("number");
				var msg = document.getElementById("msg");
			}
			</script>

	</body>
</html>
